@page
@model Identity.Api.Pages.LoginModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 style="text-align: center;">Login</h1>

            <form method="post" class="form-group" asp-route-returnUrl="@ViewData["returnUrl"]">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="LoginViewModel.Username"></label>
                    <input asp-for="LoginViewModel.Username" class="form-control" />
                    <span asp-validation-for="LoginViewModel.Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoginViewModel.Password"></label>
                    <input asp-for="LoginViewModel.Password" class="form-control" />
                    <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                </div>

                <input type="submit" class="btn btn-outline-primary form-control" value="Login" />

            </form>


        </div>
    </div>
</div>