<h3>Edit Product</h3>
<hr>
<div *ngIf="product">
    <p>Name: {{ product.name }}</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
                <app-update-product-info [product]="product">
                </app-update-product-info>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
                <app-update-product-price [product]="product">
                </app-update-product-price>
            </div>
        </div>
    </div>
</div>